@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full w-full m-0 p-0;
  }
  
  body {
    @apply h-full w-full m-0 p-0 overflow-hidden;
  }

  #root {
    @apply h-full w-full min-h-screen;
  }
}